/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* coustom fonts */
@font-face {
  font-family: "MyCustomFontOne";
  src: url("./assets/fonts/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFontTwo";
  src: url("./assets/fonts/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFontThree";
  src: url("./assets/fonts/pxiDyp8kv8JHgFVrJJLmg1hVF9eO.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFontFour";
  src: url("./assets/pxiEyp8kv8JHgFVrJJfecg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFontFive";
  src: url("./assets/fonts/pxiGyp8kv8JHgFVrJJLucHtA.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  background-size:cover !important;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}
.navbar button{
  border: 1px solid rgba(119,119,125,.5);
}
.hamburger-list ul li{
  border-bottom: 1px solid white;
}
.swiper-slide {
  height: 100px!important;
  line-height: 300px;
  text-align: center;
}
.swiper-wrapper{
  transition-timing-function: linear !important;
}